.map,
.geocoder {
    .mapboxgl-ctrl-geocoder {
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin-right: 65px !important;
        width: 75%;
        box-shadow: none;
    }
}

.geocoder .mapboxgl-ctrl-geocoder {
    width: 100%;
}